@import "base";

//Blank div
.dash {
  width: 4rem;
  height: 1px;
  background-color: $light-grey;
  margin-bottom: 4.25rem;
}

.content-box {
  margin-inline: 2rem;
  max-width: 100%;

  @media only screen and (min-width: $breakpoint-medium) {
    margin-inline: 6rem;
  }
}

//HEADER SECTION
.about-hero {
  position: relative;

  @media only screen and (min-width: $breakpoint-medium) {
    margin-inline: 6rem;
  }

  &__image-box {
    @media only screen and (min-width: $breakpoint-larger) {
      width: 60%;
    }
  }

  &__picture {
    & > img {
      @include imagestyle();
      filter: brightness(85%);

      @media only screen and (min-width: $breakpoint-small) {
        height: 45rem;
      }
    }
  }
}

.about-content {
  width: 90%;
  position: relative;
  margin-top: -2rem;
  z-index: 3;
  background-color: $color-primary;
  padding-top: 4.68rem;
  padding-left: 2rem;

  @media only screen and (min-width: $breakpoint-medium) {
    padding-left: 3.68rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media only screen and (min-width: $breakpoint-larger) {
    width: 57%;

    display: flex;
    flex-direction: column;
    //padding-left: 6rem;
    //padding-top: 5.5rem;
  }

  &__heading {
    display: none;

    @media only screen and (min-width: $breakpoint-medium) {
      display: block;
      position: absolute;
      right: 0;
      top: -5rem;
    }

    @media only screen and (min-width: $breakpoint-larger) {
      top: -7rem;
    }
  }
}

.about-minicontent {
  @media only screen and (min-width: $breakpoint-larger) {
    max-width: fit-content;
    align-self: flex-end;
  }

  & > .dash {
    display: none;

    @media only screen and (min-width: $breakpoint-medium) {
      display: block;
      margin-bottom: 4rem;
    }

    @media only screen and (min-width: $breakpoint-larger) {
      margin-top: 5.5rem;
    }
  }

  &__heading-small {
    margin-bottom: 0.5rem;

    @media only screen and (min-width: $breakpoint-medium) {
      margin-bottom: 2.18rem;
    }

    @media only screen and (min-width: $breakpoint-larger) {
      max-width: 26rem;
    }

    //Dummy code cause it causes a horizontal scroll on widths < 300px
    @media only screen and (max-width: 300px) {
      font-size: 2rem;
    }
  }

  &__text {
    @media only screen and (min-width: $breakpoint-larger) {
      max-width: 36ch;
    }
  }
}

//////////////MAIN CONTENT
//HERITAGE SECTION
.section--heritage {
  margin: 4.5rem 0;

  @media only screen and (min-width: $breakpoint-larger) {
    margin: 12.5rem 0;
  }
}

.heritage {
  @media only screen and (min-width: $breakpoint-largest) {
    display: flex;
    justify-content: space-between;
    //gap: 7.75rem;
  }

  &__box {
    & > .dash {
      @media only screen and (min-width: $breakpoint-larger) {
        margin-bottom: 6.25rem;
      }
    }
  }

  &__heading {
    max-width: 14.5rem;
    margin-bottom: 1.8rem;

    @media only screen and (min-width: $breakpoint-larger) {
      margin-bottom: 3.5rem;
    }
  }

  &__text-group {
  }

  &__text {
    @media only screen and (min-width: $breakpoint-largest) {
      max-width: 36ch;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__img-box {
    display: none;

    @media only screen and (min-width: $breakpoint-largest) {
      display: block;
      max-width: 33.75rem;
      //max-width: 46%;
    }

    & > img {
    }
  }
}

//LEADERSHIP SECTION
.section--leadership {
  margin-bottom: 8.5rem;
}

.leadership {
  @media only screen and (min-width: $breakpoint-larger) {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    max-width: 14rem;
    margin-bottom: 4rem;
  }
}

.leaders {
  @media only screen and (min-width: $breakpoint-smaller) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2.5rem 1.87rem;
  }

  @media only screen and (min-width: $breakpoint-larger) {
    flex-basis: 65%;
  }
}

.person {
  margin-bottom: 2.5rem;

  @media only screen and (min-width: $breakpoint-smaller) {
    flex-basis: 50%;
    margin-bottom: 0;
  }

  @media only screen and (min-width: $breakpoint-larger) {
    display: grid;
  }

  &__img {
    margin-bottom: 1.3rem;
    width: 100%;
    object-fit: cover;
    transition: all ease-in 0.2s;

    @media only screen and (min-width: $breakpoint-larger) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      z-index: 2;

      &:hover {
        //visibility: visible;
        //display: block;
        filter: brightness(75%);
      }

      &:hover ~ .person__socials {
        //visibility: visible;
        display: block;
      }
    }
  }

  &__socials {
    @media only screen and (min-width: $breakpoint-larger) {
      display: none;
      //visibility: hidden;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      align-self: center;
      justify-self: center;
      z-index: 5;
    }

    & svg {
      color: $very-dark-blue;
      font-size: 1.5rem;

      @media only screen and (min-width: $breakpoint-larger) {
        color: $color-primary;
      }
    }

    & > * + * {
      margin-left: 2rem;
    }
  }

  &__info {
  }

  &__name {
    margin-bottom: 0.2rem;
  }

  &__job {
    margin-bottom: 0.2rem;
  }
}
