//Primary Colors
$color-primary: #fff;

//Secondary colors
$very-dark-blue: rgb(27, 29, 35);
$dark-grey: rgb(96, 99, 109);
$medium-grey: rgb(125, 130, 143);
$light-grey: rgb(200, 204, 216);
$very-light-grey: rgb(238, 239, 244);
$red: rgb(223, 86, 86);

//Font-family
$font-secondary: "Spartan", sans-serif;

//Breakpoints

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%; //16px
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  background-color: $color-primary;
  font-family: $font-secondary;
  line-height: 1.4;
}
