//Primary Colors
$color-primary: #fff;

//Secondary colors
$very-dark-blue: rgb(27, 29, 35);
$dark-grey: rgb(96, 99, 109);
$medium-grey: rgb(125, 130, 143);
$light-grey: rgb(200, 204, 216);
$very-light-grey: rgba(238, 239, 244, 1);
$red: rgb(223, 86, 86);

//Font-family
$font-secondary: "Spartan", sans-serif;

//Breakpoints

//Typography
.heading-large {
  //font-size: Clamp(5rem, calc(7vw + 1rem), 13rem);
  font-size: calc(Clamp(5rem, 15vw + 1rem, 13rem));
  color: $very-light-grey;
  font-weight: 700;
}

.heading-medium {
  // font-size: calc(Clamp(3.2rem, 7vw + 1rem, 5.33rem);
  font-size: 5.33rem;
  font-weight: 700;
}

.heading-small {
  font-size: 3.73rem;
  font-weight: 700;
}

.heading-smallest {
  font-size: 1.2rem;
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 93.75%; //15px
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.btn-large {
  background-color: black;
  color: white;
}

.btn-small {
  background-color: black;
  color: white;
}

body {
  background-color: $color-primary;
  font-family: $font-secondary;
  line-height: 1.2;
}

.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start]
    repeat(12, [column-start] minmax(0, 6.1rem) [column-end])
    [center-end] minmax(2rem, 1fr) [full-end];

  & > * {
    grid-column: center-start / center-end;
    grid-row: auto;
    grid-row-gap: 2rem;
  }
}
