@import "base";

/////////////CONTACT PAGE STYLING
//ContactDetails section
.section--details {
  margin: 4.5rem 0;

  @media only screen and (min-width: $breakpoint-larger) {
    margin: 12.5rem 0;
  }
}

.details {
  & > .dash {
  }

  &__heading {
    margin-bottom: 3rem;

    @media only screen and (min-width: $breakpoint-larger) {
      max-width: 6ch;
    }
  }
}

.main-details {
  @media only screen and (min-width: $breakpoint-larger) {
    display: flex;

    justify-content: space-between;
  }
}

.locations {
  & > *:first-child {
    margin-bottom: 2.5rem;

    @media only screen and (min-width: $breakpoint-larger) {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: $breakpoint-larger) {
    flex-basis: 65%;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

.official-contact {
  @media only screen and (min-width: $breakpoint-small) {
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (min-width: $breakpoint-larger) {
    flex-direction: column;
    flex-basis: 100%;
  }
}

.primary-contact {
  &__heading {
    margin-bottom: 1.4rem;
  }
}

.public-info {
  & > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__mail {
  }

  &__address {
  }

  &__phone {
  }
}

.map-view {
  color: $very-dark-blue;
  font-weight: 700;
  cursor: pointer;
  width: fit-content;

  @media only screen and (min-width: $breakpoint-small) {
    align-self: center;
    margin-top: 2rem;
  }

  @media only screen and (min-width: $breakpoint-larger) {
    align-self: flex-start;
  }

  & > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
  }
}

//MAPPING SECTION
.section--map {
  margin-bottom: 4.5rem;

  @media only screen and (min-width: $breakpoint-larger) {
    margin-bottom: 10rem;
  }
}

.mapping {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  //background-color: black;

  @media only screen and (min-width: $breakpoint-medium) {
    margin-inline: 6rem;
  }

  @media only screen and (min-width: $breakpoint-large) {
    aspect-ratio: 1 / 0.5;
  }

  /* &__picture {
    width: 100%;
  } */
}

////FORM SECTION
.section--form {
  margin-bottom: 8.5rem;
}

.form-validation {
  margin-inline: 2rem;
  max-width: 100%;

  @media only screen and (min-width: $breakpoint-medium) {
    margin-inline: 6rem;
  }

  @media only screen and (min-width: $breakpoint-larger) {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    max-width: 15rem;
    margin-bottom: 3rem;

    @media only screen and (min-width: $breakpoint-smaller) {
      max-width: 100%;
    }

    @media only screen and (min-width: $breakpoint-larger) {
      max-width: 6ch;
    }
  }
}

.form {
  display: grid;

  @media only screen and (min-width: $breakpoint-larger) {
    flex-basis: 65%;
  }

  & > .btn-large {
    justify-self: end;
    align-self: end;
    //margin-top: -0.3rem;
  }
}

.wrapper {
  position: relative;
  font-weight: 700;

  &:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }
}

.field,
.text-area {
  width: 100%;
  font-weight: inherit;
  color: $very-dark-blue;
  padding-left: 1.3rem;
  border: none;
  outline: none;
  border-bottom: 1px solid $very-dark-blue;

  &::placeholder {
    color: $light-grey;
  }

  &:focus {
    color: $very-dark-blue;
    border-bottom: 2px solid $very-dark-blue;
  }
}

.field {
  height: 3.5rem;
}

.error {
  position: absolute;
  font-weight: inherit;
  right: 0;
  bottom: 0.5rem;
  color: $color-error;
}

.text-area {
  height: 100%;
}
