//NAVIGATION LINKS
@import "base";

//Text at the top of page
.aside-info {
  position: fixed;
  top: 0;
  left: 3rem;
  height: 12rem;
  width: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;

  & .empty {
    height: 6.5rem;
    width: 0.1rem;
    background-color: $light-grey;
  }

  & p {
    text-transform: uppercase;
    letter-spacing: 1.56rem;
    transform-origin: 10% 0.6rem;
    transform: rotate(90deg);
  }
}

.nav {
  display: flex;
  gap: Max(5.25rem, calc(7vw + 0.5rem));
  padding: 3.7rem 0;

  &__logo {
    flex: 0 auto;
  }

  &__link {
    flex: 1 1 80%;
    display: flex;
    gap: 3.7rem;
    align-items: center;

    @media only screen and (max-width: $breakpoint-small) {
      display: none;
    }
  }

  &__items {
    list-style: none;

    & a {
      text-decoration: none;
      font-weight: 700;
      display: block;
      color: $medium-grey;
      transition: color ease-in 0.2s;

      &:hover {
        color: $very-dark-blue;
      }
    }
  }
}

//HEADER SECTION

.packed {
  display: grid;

  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.header-img {
  /*width: 100%;
  object-fit: cover;
  z-index: 1;
  aspect-ratio: 1 / 1.25; */
  @include imagestyle;
  //aspect-ratio: 1 / 1.25;
  height: 45rem;
  filter: brightness(75%);
}

.heading-contents {
  max-width: 36.9rem;
  z-index: 10;
  height: fit-content;
  align-self: center;
  margin-left: 10%;
}

.text-secondary {
  color: $color-primary;
  max-width: 35ch;
  margin-bottom: 2.2rem;
}

.tab-btns {
  display: none;
  z-index: 100;
  align-self: end;
  transform: translateX(-5.17rem);

  @media only screen and (min-width: $breakpoint-large) {
    display: block;
  }
}

//WELCOME SECTION
.section--welcome {
  margin-block: 4rem 6.9rem;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 1rem;

  &__heading {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    transform: translateY(2rem);

    @media only screen and (max-width: $breakpoint-small) {
      display: none;
    }
  }

  &__contents {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: end;

    max-width: 28rem;

    & .welcome-subheading {
      margin-bottom: 2.5rem;
    }

    & .welcome-text {
      & > *:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    justify-self: end;
  }
}

//HOME-ABOUT SECTION
.home-about {
  &__img {
    @include imagestyle;
    height: 35rem;
    filter: brightness(75%);
  }

  &__content {
    max-width: 27.8rem;
    height: fit-content;
    z-index: 5;
    align-self: center;
    margin-left: 10%;
  }

  &__heading {
    color: $color-primary;
    width: 9ch;
    line-height: 1.2;
    word-break: normal;
    margin-bottom: 3rem;
  }
}

//FEATURED SECTION
.section--featured {
  margin: 12.5rem 0;
}

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  & > :nth-child(2) {
    justify-self: end;
    //grid-row: 3 / 4;
    //grid-column: 1 / -1;
  }

  &__heading {
    align-self: end;
  }

  &__contents {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    margin-top: 4rem;
  }

  &-subcontent {
    &__heading {
      font-size: 12.5rem;
      font-weight: 700;
      justify-self: end;
      height: fit-content;
      color: rgba($color-primary, 0.5);
      z-index: 50;
    }

    &__picture img {
      filter: brightness(80%);
      @include imagestyle;
    }
  }

  &-minicontent {
    color: $color-primary;
    align-self: end;
    margin: 0 0 2.5rem 2.5rem;
    z-index: 100;

    &__text {
      opacity: 0.75;
    }
  }
}

//FOOTER SECTION
.footer {
  display: flex;
  // grid-template-columns: minmax(7.5rem, 19%) minmax(min-content, 49rem) minmax(
  // min-content,
  // max-content
  // );

  /*& > * + * {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  } */

  &__content {
    flex: 2 1;

    //display: flex;
    //justify-content: space-between;

    & > .btn-large {
      align-self: center;
      justify-self: end;
      //transform: translateX(40%);
      //position: absolute;
      //ri: 4rem;
      //margin-right: -9vw;

      //position: fixed;
      //margin-left: 10rem;
    }
  }

  &__logo {
    //flex: 1 1 0;
    background-color: $very-dark-blue;
    width: Min(20%, 12.5rem); //18%
    aspect-ratio: 1 / 1;

    display: grid;
    place-items: center;

    & img {
      width: Max(3.5rem, 60%);
    }
  }

  &__link {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 7%;
    padding-left: 10%;

    //grid-template-columns: minmax(min-content, 50rem);
    max-width: 85%;
    //flex: 0 1 70%;
    background-color: $very-light-grey;
    //flex-basis: 55%;
    //justify-content: space-evenly;
    // align-items: center;
  }

  &__items {
    & a {
      text-decoration: none;
      font-weight: 700;
      display: block;
      color: $medium-grey;
      transition: color ease-in 0.2s;

      &:hover {
        color: $very-dark-blue;
      }
    }
  }
}
