@import "base";

//PORFOLIO PAGE
.section-portfolio {
  //max-width: 69.375rem;
  margin-inline: 6rem;
  margin-block: 0 10rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: auto;
  grid-gap: 1.5rem 1.87rem;
}

.portfolio-projects {
  &__picture {
    @include imagestyle();
    filter: brightness(85%);
  }

  &__minicontent {
    color: $color-primary;
    z-index: 10;
    align-self: end;
    margin: 0 0 3vw 3vw;
  }

  &__text {
    opacity: 0.75;
  }
}
